body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen{
    background-color: white;
    width: 300px;
    height: 80px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius:15px;
}

#text {
    height: 40px;
    text-align: right;
    font-weight: bold;
    margin-right: 12px;
}

.input {
    font-size:20px;
}

.answerbox {
    font-size: 25px;
}

.calculator {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 380px;
    height: 525px;
    justify-content: space-around;
    background-color: darkslategray;
    align-items: center;
    border-radius: 30px;
    padding-bottom:12px;
    padding-top:12px;
}

.buttonbox {
    display: flex;
    width:380px;
    justify-content: center;
    gap: 8px;
}

button {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    font-size: large;
    font-style: oblique;
    border-color: white;
}

.number{
    background-color: darkgreen;

}

.operator {
    background-color: darkred;
}

#zero {
    width: 148px;
}

.calculate {
    background-color:coral;
}

.clear,
.delete {
    width:148px;
    background-color:blanchedalmond;
}