body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen{
    background-color: white;
    width: 360px;
    height: 80px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.answerbox {
    width: 360px;
    height: 40px;
}

.input {
    width:360px;
    height:40px;
}

.calculator {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 380px;
    height: 500px;
    justify-content: space-around;
    background-color: darkslategray;
    align-items: center;
}

